.editable {
	display: block;
	box-sizing: border-box;
	background-color: transparent;
	border: 2px solid #bbb;
	border-radius: 5px;
	width: 100%;
	padding: 5px 10px;
	margin: 0;
}

.not-editable {
	border: 2px solid transparent;
	outline: none;
	cursor: default;
}
